<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="wrapper">
            <p> Word to guess: {{wordToGuess}} </p>
                <p> letters guessed: {{lettersGuessed}} </p>
                <p> correct letters: {{correctLetters}} </p>
                <p> incorrect letters: {{incorrectLetters}} </p>
                <p> incorrect guesses: {{incorrectGuesses}} </p>
                <p> correct guesses: {{correctGuesses}} </p>
                <p> 
                    {{#errors}}
                        {{msg}}
                    {{/errors}} 
                </p>
            <main>
                <h1>Mystery Word</h1>
                <h1>You Lose</h1>
                <p class="incorrectGuesses"> Incorrect guesses: {{incorrectGuesses}} </p>
                <section class="wordDisplay">
                    {{#wordDisplay}}
                        <span class="wordCharacter">{{.}}</span>
                    {{/wordDisplay}}
                </section>
                <section class="alphabetDisplay">
                    {{#alphabetDisplay}}
                        <span style="color: {{color}};">{{letter}}</span>
                    {{/alphabetDisplay}}
                </section>
                <br>
                <br>
                  <p> 
                    {{#errors}}
                        {{msg}}
                    {{/errors}} 
                </p>
                <form action="/" method="get">
                    <div>
                        <input type="submit" value="New Game">
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>