.wrapper {
    border: 1px solid #CCCCCC;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.wrapper > p {
    display: none;
    box-sizing: border-box;
}

main {
    border: 0px solid blue;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
    
}

main > h1 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

main > form {
    width: 100%;
    border: 0px solid lime;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

form > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
}

form input {
    font-size: 2em;
    box-sizing: border-box;
}

.incorrectGuesses {
    width: 100%;
    border: 0px solid deeppink;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.wordCharacter {
    border: 0px solid orange;
    padding: 3px;
    font-size: 2em;
    box-sizing: border-box;
}

section.wordDisplay {
    width: 100%;
    border: 0px solid blueviolet;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.alphabetDisplay {
    border: 0px solid fuchsia;
    padding: 5px;
    padding-left: 15px;
    width: 100%;
}